/* Rainking, MyRanking, Community, Setting, Service 페이지 사이드바 */
/* 사이드바 시작 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 라이트모드 */
:root,
body.light-mode {
    --sidebar-bg: linear-gradient(180deg, #f3f0f8 0%, #e8e3f0 100%);          /* 사이드바 배경색 */
    --sidebar-text: #333333;   /* 메인 텍스트 색상 */
    --sidebar-hover: #e2e8f0;    /* 호버 시 배경색 */
}

body.dark-mode {
    --sidebar-bg: #333333;
    --sidebar-text: #e0e0e0;
    --sidebar-hover: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 255px;
    background: var(--sidebar-bg);
    transition: all 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1); 
}
.sidebar.close {
    width: 75px;
    z-index: 100;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.sidebar .logo-details .logo-icon {     /* 사이드바 로고 */
    font-size: 30px;
    height: 50px;
    min-width: 75px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details i img {
    width: 50px;
    height: 50px;
}
.sidebar .logo-details label .logo_title {      /* 사이드바 코딩몬스터 글자 라벨 */
    white-space: nowrap;                /* 텍스트 밑으로 밀림 방지 */
    font-size: 22px;
    color: var(--sidebar-text);
    font-weight: 600;
    transition: all 0.2s ease 0.1s;
}

.sidebar .nav-lists {     /* 메인 사이드바 */
    background: transparent;
    height: calc(100% - 110px);
    padding: 8px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-lists {      /* 클로즈 상태에서 사이드바 호버 시 서브 카테고리 표시 */
    overflow: visible;          /* 이거 설정 안 하면 호버 시 서브 카테고리가 나타나지 않음 */
}
.sidebar .nav-lists::-webkit-scrollbar {         /* 사이드바 높이 초과 시 스크롤바 표시 X */
    display: none;
}
.sidebar .nav-lists li {
    position: relative;
    list-style: none;
    transition: all 0.2s ease;
}
.sidebar .nav-lists li:hover {       /* 마우스 커서 위치 시 색상 */
    background: var(--sidebar-hover);
}
.sidebar .nav-lists li .icon-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-lists li i {
    height: 50px;
    min-width: 75px;       /* 최소 너비 */
    text-align: center;
    line-height: 50px;
    color: var(--sidebar-text);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;      /* 화살표 클릭 시 회전 속도 */
}
.sidebar .nav-lists li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-lists li a .nav-name {     /* 메인 카테고리 글자 설정 */
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    color: var(--sidebar-text);
    transition: all 0.2s ease 0.1s;
    min-width: 100px;
}
.sidebar .nav-lists li .sub-category {       /* 서브 카테고리 */
    padding: 10px 6px 10px 78px;
    margin-top: 0;
    background: var(--sidebar-hover);
    display: none;
}
.sidebar .nav-lists li.showCategory .sub-category {  /* 화살표 클릭 시 서브 카테고리 표시 */
    display: block;
}
.sidebar .nav-lists li .sub-category a {
    color: var(--sidebar-text);
    font-size: 15px;
    padding: 6px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-lists li .sub-category a:hover {
    opacity: 1;
}
.sidebar.close .nav-lists li .sub-category {     /* 호버 시 서브 카테고리 표시 */
    position: absolute;
    left: 100%;
    top: -8px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.3s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}
.sidebar.close .nav-lists li:hover .sub-category {
    top: 0px;
    opacity: 1;
    display: block;
    pointer-events: auto;
    transition: all 0.2s ease;
}
.sidebar .nav-lists li .sub-category .nav-name {
    display: none;
}
.sidebar.close .nav-lists li .sub-category .nav-name {   /* 사이드바에 마우스 커서 위치 시 메인 카테고리 제목 표시 */
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-lists li .sub-category.blank {
    top: -8px;
    padding: 6px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-lists li:hover .sub-category.blank {
    top: 0;
}




.sidebar .log-out-details {          /* 로그아웃 파트 */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar .log-out-details a {
    color: var(--sidebar-text);
    text-decoration: none;
    text-align: center;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .log-out-details a:hover {
    opacity: 1;
}
.sidebar .log-out-details a i {
    height: 50px;
    min-width: 75px;
    text-align: center;
    line-height: 50px;
    color: var(--sidebar-text);
    font-size: 20px;
}
.sidebar .log-out-details a span {
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    color: var(--sidebar-text);
    transition: all 0.2s ease 0.1s;
}
.sidebar.close .logo-details label .logo_title,
.sidebar.close .nav-lists .arrow,
.sidebar.close .nav-lists li a .nav-name,
.sidebar.close .log-out-details a span {
    transition: all 0.3s ease;
    transition-delay: 0s;
    display: none;
    opacity: 0;
    pointer-events: none;
}
.sidebar.is-closing .nav-lists li .sub-category {
    display: none;
}
/* 사이드바 끝 */